@import '../globals';

$button-background-color: hsl(0, 0%, 16%);
$button-text-color: hsla(0, 0%, 100%, 0.87);
$button-border-color: hsl(0, 0%, 32%);
$button-active-color: hsl(215, 57%, 51%);
$button-hover-background-color: hsl(0, 0%, 27%);
$button-hover-border-color: hsl(0, 0%, 40%);
$button-focus-shadow-color: hsla(0, 0%, 100%, 0.5);

$button-font-size: 1rem;
$button-padding-vertical: 0.5rem;
$button-padding-horizontal: 1rem;

.button {
    @include transition;

    color: $button-text-color;
    border: 1px solid $button-border-color;
    border-radius: 6px;
    padding: $button-padding-vertical $button-padding-horizontal;
    font-size: $button-font-size;
    text-shadow: $text-shadow;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    box-shadow: $box-shadow;
    background-clip: padding-box;

    &:hover,
    &:active {
        background-color: $button-hover-background-color;
        border-color: $button-hover-border-color;
    }

    &:focus-visible {
        outline: 1px solid $primary-color-hover;
    }
}

.ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 0.45s linear;
    background-color: rgba(255, 255, 255, 0.3);
}

.active {
    border-color: $button-active-color;
}

.primary {
    background-color: $primary-color;
}

.secondary {
    background-color: $button-background-color;
}

@keyframes ripple {
    to {
        transform: scale(4);
        opacity: 0;
    }
}