.drp-btn-ctn {
    position: relative;
    display: inline-block;

    & button:active {
        & .drp-dwn svg {
            margin-top: 5px;
        }
    }
}

.drp-btn-ovl {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: transparent;
    pointer-events: auto;
}

.drp-btn-fly {
    position: absolute;
    z-index: 1000;
}

.drp-dwn {
    pointer-events: none;
    padding: 0 var(--SpacingCompact);

    display: flex;
    align-items: center;
    align-content: center;
}

.drp-dwn svg {
    width: var(--SpacingControlHeaderTextEdge);
    height: var(--SpacingControlHeaderTextEdge);
    stroke: var(--TextFillColorPrimaryBrush);
}