@keyframes drp-dwn-bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(2px);
    }
    80% {
        transform: translateY(-1px);
    }
}

.drp-btn-ctn {
    position: relative;
    display: inline-block;

    &[aria-expanded="true"] {
        & .drp-dwn svg {
            animation-name: drp-dwn-bounce;
        }
    }

    &:hover {
        & .drp-dwn svg {
            stroke: var(--TextFillColorSecondaryBrush);
        }
    }
}

.drp-btn-ovl {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: transparent;
    pointer-events: auto;
}

.drp-btn-fly {
    position: absolute;
    z-index: 1000;
}

.drp-dwn {
    pointer-events: none;
    padding: 0 var(--SpacingCompact);

    display: flex;
    align-items: center;
    align-content: center;
}

.drp-dwn svg {
    width: var(--SpacingControlHeaderTextEdge);
    height: var(--SpacingControlHeaderTextEdge);
    stroke: var(--TextFillColorPrimaryBrush);

    animation-duration: 0.3s;
    animation-timing-function: var(--TransitionTimingFunction);

    transition-property: stroke;
    transition-timing-function: var(--TransitionTimingFunction);
    transition-duration: var(--TransitionTimingDuration);
}